<div class="row tm-gallery">
  <div id="tm-gallery-page-pizza" class="tm-gallery-page">
    <% foods.forEach(food=> { %>
      <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
        <figure>
          <img src="<%= food.imageUrl %>" alt="Image" class="img-fluid tm-gallery-img" />
          <button type="button" class="btn-favorite" data-id="<%= food._id %>">
            <i class="fa-star <%= user && user.featuredFood.includes(food._id) ? 'fa-solid' : 'fa-regular' %>"></i>
          </button>
          <figcaption>
            <div class="gallery-title-block">
              <h4 class="tm-gallery-title">
                <%= food.title %>
              </h4>
            </div>
            <p class="tm-gallery-description">
              <%= food.description.length> 40 ? food.description.slice(0, 40) + '...' : food.description %>
            </p>
            <div class="block-price-button">
              <p class="tm-gallery-price">
                <%= food.price %> BYN
              </p>
              <button type="button" class="btn-add-cart" data-id="<%= food._id %>">Выбрать</button>
            </div>
          </figcaption>
        </figure>
      </article>
      <% }) %>
  </div>
</div>