<!DOCTYPE html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet" />
  <link href="/css/all.min.css" rel="stylesheet" />
  <link href="/css/templatemo-style.css" rel="stylesheet" />
  <script type="module" defer src="/js/jquery.min.js"></script>
  <script type="module" defer src="/js/parallax.min.js"></script>
  <script type="module" defer src="/js/loading_data_from_db.js"></script>
  <script type="module" defer src="/js/send_message_contact_form.js"></script>
  <script type="module" defer src="/js/add_favorites_dish.js"></script>
  <script type="module" defer src="/js/display_modal_detail.js"></script>
  <script type="module" defer src="/js/add_dish_to_cart.js"></script>
  <title>
    <%= title %>
  </title>
</head>

<body>
  <div class="container">
    <%- include('../components/header.ejs'); %>
      <%- body %>
        <%- include('../components/footer.ejs'); %>
          <%- include ('../components/modal_window_favorite_dish.ejs'); %>
            <%- include ('../components/window_detail_food.ejs'); %>
              <%- include ('../components/toast.ejs'); %>
  </div>
</body>

</html>