<main>
	<div class="row tm-welcome-section">
		<h2 class="col-12 text-center tm-section-title">Добро пожаловать в Nomera</h2>
		<p class="col-12 text-center">место, где вкус встречается с атмосферой уюта. Мы готовим с любовью, используя только
			свежие ингредиенты. Насладитесь незабываемыми блюдами и тёплым гостеприимством!</p>
	</div>
	<div class="tm-paging-links">
		<nav>
			<ul>
				<% categories.forEach(category=> { %>
					<li class="tm-paging-item"><a href="" class="tm-paging-link" data-id="<%= category._id %>">
							<%= category.title %>
						</a></li>

					<% }) %>
			</ul>
		</nav>
	</div>
	<div class="row tm-gallery">
		<div id="tm-gallery-page-pizza" class="tm-gallery-page">
			<% foods.forEach(food=> { %>
				<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item" data-food-id="<%= food._id %>">
					<figure>
						<img src="<%= food.imageUrl %>" alt="Image" class="img-fluid tm-gallery-img" />
						<% if (user && user.role!=='user' ) { %>

							<% } else if (!user) { %>
								<% } else { %>
									<button type="button" class="btn-favorite" data-id="<%= food._id %>">
										<i
											class="fa-star <%= user && user.featuredFood.includes(food._id) ? 'fa-solid' : 'fa-regular' %>"></i>
									</button>
									<% } %>
										<figcaption>
											<div class="gallery-title-block">
												<h4 class="tm-gallery-title">
													<%= food.title %>
												</h4>
											</div>
											<p class="tm-gallery-description">
												<%= food.description.length> 40 ? food.description.slice(0, 40) + '...' : food.description %>
											</p>
											<div class="block-price-button">
												<p class="tm-gallery-price">
													<%= food.price %> BYN
												</p>
												<button type="button" class="btn-add-cart" data-id="<%= food._id %>">Выбрать</button>
											</div>
										</figcaption>
					</figure>
				</article>
				<% }) %>
		</div>
	</div>
</main>